<a href="" class="text-center album d-inline-block text-dark">
    <img src="/images/folder.svg" alt="Folder" width="200" height="200" />
    <h5>@Title</h5>
</a>

@functions{
    [Parameter]
    private string Title { get; set; }

    [Parameter]
    private Guid AlbumId { get; set; }
}

@functions{

}