@inherits LayoutComponentBase
@inject HttpClient Http;
@inject IUriHelper UriHelper;

@if (UserState.CurrentUser != null)
{
    if (UserState.CurrentUser.IsSignedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    }
    else
    {
        <Login></Login>
    }
}

@functions{

    [CascadingParameter]
    public UserStateProvider UserState { get; set; }
}
