@inherits LayoutComponentBase
@inject HttpClient Http;
@inject IUriHelper UriHelper;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @if (UserState.CurrentUser != null)
        {
            @if (UserState.CurrentUser.IsSignedIn)
            {
                @Body
            }
            else
            {
                <Login></Login>
            }
        }
    </div>  
</div>

@functions{

    [CascadingParameter]
    public UserStateProvider UserState { get; set; }
}
