@page "/login"

@inject HttpClient Http;
@inject IUriHelper UriHelper;

<div class="row h-75 w-100 pl-4 d-flex justify-content-center align-content-center">
    <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Üdvözöljük!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h6>A folytatáshoz jelentkezzen be Google fiókjával!</h6>
            </div>
        </div>


        @if (loginProviders != null)
        {
            @foreach (var provider in loginProviders)
            {
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <form action="/api/Login/ExternalLogin" method="post">
                            <button type="submit"
                                    class="btn btn-lg btn-brown w-100"
                                    name="provider"
                                    value="@provider.Name"
                                    title="@("Jelentkezz be "+ provider.DisplayName.ToString() +" fiókoddal!")">
                                <i class="oi oi-account-login" aria-hidden="true"></i> Bejelentkezés
                            </button>
                        </form>
                    </div>
                </div>

            }
        }
    </div>
</div>


@functions{
    SignInProvider[] loginProviders;

    [CascadingParameter]
    public UserStateProvider UserState { get; set; }

    protected override async Task OnInitAsync()
    {
        loginProviders = await Http.GetJsonAsync<SignInProvider[]>("api/Login/LoginProviders");
    }
}